
<h1>Articels</h1>

<article>
  <% @articels.each do |articel| %>
  <h2><%= link_to articel.title, articel_path(articel) %></h2>

  <p><%= articel.content %></p>
  <% end %>
</article>

<%= link_to 'Add an article', new_articel_path %>
